<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.wj.dao.AdminRoleMenuDao">
    <select id="findmidByrid" parameterType="Integer" resultType="Integer" >
        select mid from admin_role_menu
        where rid in
        <foreach collection="list" item="rid" open="(" close=")" separator=",">
            #{rid}
        </foreach>

    </select>

    <select id="listRolesByUser" parameterType="java.util.List" resultType="Integer">
        select pid from admin_role_menu
        where id in
        <foreach collection="list" item="id" open="(" close=")" separator="," >
            #{id}
        </foreach>

    </select>
</mapper>
